

<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Relatorio
-->
<!-- ============= HEADER ================ -->
<!DOCTYPE html>
<html>

<head>
  <title>Relatório de Produtos</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<style>
  .img {
    
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 495px;
   
  } 
  .imgMenor {
    
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    height: 400px;
   
  } 
  .body {
    font-weight: bold;
  }
  .p {
    font-size: 50px;
  }
  .alignR{
    text-align: right;
    cursor:pointer;text-decoration:underline
  }
</style>

<body class="text-primary">
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->

<header>
  <div class="row">
  <div class="col-sm-4">
      <a href="indexAdm"><img class="w-50" src="../imagens/ps.png" /></a>
  </div>
  <br />

  <div class="text-center col-sm-4 p-5 mb-2">
    <h2>Área do Administrador</h2>
  </div>

  <div class="col-sm-4 alignR">
    <%if (info.user) { %>
      
      <span id="bemVindo"><%='Bem vindo, Adm ' + info.user.substring(0, info.user.indexOf('@')) + '!'%></span>
      
      <a class="ml-4" style="cursor:pointer;text-decoration:underline" href="logoutAdm" id="sair">Sair</a>
      <% } else { %>
      <a id="entrar" class="alignR text-right" href="loginAdm">Entrar</a>
      <% } %>
  </div>
</header>
  <section>

  </section>
 
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="#">Acesse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href='indexAdm'>Página Inicial</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href='cadastroProduto'> Cadastrar Produtos</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href='cadastroAdm'>Cadastro de Usuário</a>
        </li>

      </ul>
    </div>
  </nav>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
  <div>
    <hr />
  </div>
  <div class="container " class="col-sm-9">
  </div>
  <section id="tabs" class="project-tab">
    <div class="container">
      <div class="row">
        <div class="col-md-8" class="row">
         
            <div class="row"><h1>Relatório de Produtos</h1>        

            </div>
        <!--Conteúdo do relatório produto-->
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <% filmes.forEach((item)=> { %>
              <table class="table" cellspacing="0">
                <thead>
                  
                  <tr>
                    <th class="mr-3">Filme</th>
                    <th class="mr-3">Gênero</th>
                    <th class="mr-3">Ano</th>
                    <th class="mr-3">Sinopse</th>
                    <th class="mr-3">Imagem</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="mr-3"><b></b><%=item.titulo%></td>
                    <td class="mr-3"><p></p><%=item.genero%></td>
                    <td class="mr-3"><p></p><%=item.ano%></td>
                    <td class="mr-3"><p></p><%=item.sinopse.substring(0, 90)%></td>
                    <td class="mr-3"><p></p><img class="imgMenor" src="../imagens/<%=item.imagens%>" /> </td>
                    <td>
                      <div>
                        <button data-id="<%=item.filmes_id%>" class="btn btn-primary bt-edit">Editar</button>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
              <% }) %>
        

      </div>

    </div>

  </section>




  <style>
    .resumo {
      width: 320px;
      padding: 75px;
      border: 15px solid rgb(244, 238, 238);
      margin: 0px;
    }
  </style>

  </div>
  </div>
  </article>



    </div>
  </section>
  
  </br>
  <hr>
<!-- =============== Fim do Conteúdo ================== -->
<script>
  $().ready(function(){
  
  $('.bt-edit').click(function (){
  
  let dataid = $(this).attr('data-id')
   
          $.post("./atualiza_produtos",
          {
              id:dataid,
          },
          function(data,status)
          {
            location.href='./atualiza_produtos'
          })
      })
  })  
  </script>

<!-- =============== FOOTER ================== -->
  <footer class="bg-primary text-white p-4 text-center mt-4">
    <p>&copy/2022-Todos os direitos reservadosos</p>
  </footer>
<!-- =============== Fim FOOTER ================== -->
  </section>
</body>
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"
></script>

<script src="../jsAdm/relatorio-chamada.js"></script>

</html>