<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Carrinho
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>

<style>
  .img {
    
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 495px;
   
  } 
  .imgMenor {
    
    border-radius: 4px;
    padding: 5px;
    width: 270px;
    height: 400px;
   
  } 
  .body {
    font-weight: bold;
  }
  .p {
    font-size: 50px;
  }
  .alignR{
    text-align: right;
    cursor:pointer;text-decoration:underline
  }
</style>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
<header class="text-center">
  <div class="row">
    <div class="col-sm-4 text-left">
      <a href="index">
        <img src="../imagens/primeirasessão.png" width="250">
        </a>
    </div>
    <div class="col-sm-4 mt-5">
      <h2 style="font: size 100%;"><%=info.titulo%></h2>
    </div>
    <div class="col-sm-4 alignR">
      <a id="bemVindo" href="perfilDoUsuario"><%=info.user%></a>
      <% if (info.user) { %>
        <a class="alignR ml-2" id="sair" href="logout">Sair</a>
        <% } else { %>
      <a id="entrar" class="alignR text-right" href="login">Entrar</a>
          <% } %>
    </div>
  </div>
</header>


<%if(info.user) { %>
  <div class="alignR">
   
  </div>
  <% } else { %>
    <div class="alignR">
      <a id="cadastro" href="cadastro">Cadastre-se</a>
    </div>
    <% }  %>
</div>

  <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->



<!-- =============== Conteúdo ================== -->

<!--================ Carrinho ===================-->
  <br />
  <div>
  <div class="row">
    <div class="container-sm" class="col-md-8" class="w-50 mx-auto p- mt-3 mb-3 " >
      <div>
      <section >
       
          <table class="table-bordered table text-white" cellspacing="0" >
                  <h4 class="text-left ">Meu Carrinho</h4>
                  <thead class="text-primary">
                  <tr class="text-uppercase">
                  
                  <th scope="col">Titulo</th>
                  <th scope="col" width="120">Telas</th>
                  <th scope="col" width="120">Ano</th>
                  <th scope="col" width="120">Valor</th>
                  <th scope="col" class="text-center" width="200"></th>
              </tr>
            </thead>
          
               <%
               total=0
               carrinho.forEach((item)=>{
               total += parseFloat(item.valor)
                %>

                <tr>
                <td><%=item.titulo%> </td>
                <td><%=item.qtd%></td>
                  <th><%=item.ano%></th>
                  
                  <td  id="preco" data-valor="<%=item.valor%>"> <%=item.valor%> </td>
                
                  <td>
                    <button class="btn btn-warning bt-limpa" data-id="<%=item.carrinho_id%>">Excluir</button>
                  </td>
                  </tr>
              <%})%>
    
    </table>
 </div>
 <button class="btn btn-warning bt-carrinho" data-limpa="<%=carrinho.carrinho_id%>" > Limpar carrinho </button>

</div>
 
<!--================ Fim do Carrinho ===================-->

<!--================= Total, Cupom e Botões =================-->

<div class="col-md-4 text-right mr-5">
        <aside >
          <div class="w-50 mx-auto p-3 mt-3 mb-3" style="border:1px solid #ccc;border-radius: 8px;">
            <table border="1" class="container text-center">
              <tr>
                <h2 class="text-center">Resumo do Pedido</h2>
                <div class="text-center mt-5 font-weight-bold" id="total"> Total: R$<%=total.toFixed(2)%> </div>
              </tr>
            </table>
            <p id="nomeDesconto"></p>
            <p id="total3"></p>
          </div>
          <hr />
          <div class="w-50 mx-auto p-3 mt-3 mb-3" style="border:1px solid #ccc;border-radius: 8px;">

            <!--Setor de Cupom-->
           
            <h3>Insira seu cupom: </h3>
            <input  name="text1">
            <br />
            <div>
              <hr />
              <input class="btn btn-primary" type="button" value="Validar Cupom" name="Submit"
                onclick="validate(document.getElementsByName('text1')[0].value)"></input>
              <hr />
            </div>
          
            <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Comprar
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header ">
          <h2 class="modal-title text-center">Compra Finalizada!</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body text-center" >
          Agora só faltou  a pipoca!! <i class="bi bi-cup-straw"></i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cup-straw" viewBox="0 0 16 16">
            <path d="M13.902.334a.5.5 0 0 1-.28.65l-2.254.902-.4 1.927c.376.095.715.215.972.367.228.135.56.396.56.82 0 .046-.004.09-.011.132l-.962 9.068a1.28 1.28 0 0 1-.524.93c-.488.34-1.494.87-3.01.87-1.516 0-2.522-.53-3.01-.87a1.28 1.28 0 0 1-.524-.93L3.51 5.132A.78.78 0 0 1 3.5 5c0-.424.332-.685.56-.82.262-.154.607-.276.99-.372C5.824 3.614 6.867 3.5 8 3.5c.712 0 1.389.045 1.985.127l.464-2.215a.5.5 0 0 1 .303-.356l2.5-1a.5.5 0 0 1 .65.278zM9.768 4.607A13.991 13.991 0 0 0 8 4.5c-1.076 0-2.033.11-2.707.278A3.284 3.284 0 0 0 4.645 5c.146.073.362.15.648.222C5.967 5.39 6.924 5.5 8 5.5c.571 0 1.109-.03 1.588-.085l.18-.808zm.292 1.756C9.445 6.45 8.742 6.5 8 6.5c-1.133 0-2.176-.114-2.95-.308a5.514 5.514 0 0 1-.435-.127l.838 8.03c.013.121.06.186.102.215.357.249 1.168.69 2.438.69 1.27 0 2.081-.441 2.438-.69.042-.029.09-.094.102-.215l.852-8.03a5.517 5.517 0 0 1-.435.127 8.88 8.88 0 0 1-.89.17zM4.467 4.884s.003.002.005.006l-.005-.006zm7.066 0-.005.006c.002-.004.005-.006.005-.006zM11.354 5a3.174 3.174 0 0 0-.604-.21l-.099.445.055-.013c.286-.072.502-.149.648-.222z"/>
          </svg>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
            <hr />
            <button onclick="window.location.href='/index'" class="btn btn-primary">Adicionar mais
              produtos</button>
          </div>
        </aside>
  </section>

</div> 

<!--================= Total, Cupom e Botões =================-->



<!--========= Imagens Rodape ==========================-->

  <section class="container">
    <div id="galeria2" class="text-center">
      <div class="row" class=" mx-auto mt-3 mb-3 ">
        <div class="col-sm-4"><img src="../imagens/avengers.jpg" class="imgMenor"> </div>
        <div class="col-sm-4"><img src="../imagens/viuvanegra.jpg" class="imgMenor"> </div>
        <div class="col-sm-4"><img src="../imagens/guerracivil.jpeg" class="imgMenor"> </div>
      </div>
    </div>
    </div>
  </section>


<!--========= FIM  Imagens Rodape ==========================-->



<!-- =============== Fim do Conteúdo ================== -->

<script>



////////////// DELETE CARRINHO
  $().ready(function(){
      console.log("jquery funfando...")
      $('.bt-carrinho').click(function(){
              let datalim = $(this).attr("data-limpa") 

            $.post('/delete-carrinhoall',
            { 
              carrinho_id:datalim
            },
            function (data,status)
            {
                location.href = "/carrinho" 

            },"json")
          })
  })
  /////////////// FIM DO DELETE CARRINHO

  /////////////// limpar coluna do carrinho
  $().ready(function(){
      console.log("jquery funfando...")
      $('.bt-limpa').click(function(){ 
              let dataid = $(this).attr("data-id") 

            $.post('/delete-carrinho',
            { 
              id:dataid,
            },
            function (data,status)
            {
                location.href = "/carrinho" 

            },"json")
          })
  })

/////////////// limpar coluna do carrinho

////////////carrinho cupom
let code =["20j4","4i56"] ;
function validate(coupon) { 
   // let code =[123,456] ;
  
  
 
   
   if (code[0]==coupon) 
    { 
    window.alert("Código de cupom aceito! Clique no botão comprar!"); 
    document.querySelector("#total3").innerHTML= (calculo -(calculo*0.10))
    } 
     else if (code[1]==coupon) 
    { 
    window.alert("Código de cupom aceito! Clique no botão comprar"); 
    document.querySelector("#total3").innerHTML= (calculo -(calculo*0.20))
    } 
   else 
    { 
    window.alert("Desculpe, o código do cupom que você digitou é inválido. Por favor verifique e tente novamente!"); 
    } 
   } 

</script>

<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->
</body>
</html>
