<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Carrinho
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>

<style>
  .img {
    
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 495px;
   
  } 
  .imgMenor {
    
    border-radius: 4px;
    padding: 5px;
    width: 270px;
    height: 400px;
   
  } 
  .body {
    font-weight: bold;
  }
  .p {
    font-size: 50px;
  }
  .alignR{
    text-align: right;
    cursor:pointer;text-decoration:underline
  }
</style>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
  <header class="text-center">
    <div class=row>
      <div class="col-sm-4 text-left">
        <a target="" href="index">
          <img src="../imagens/primeirasessão.png" width="250"></a>
      </div>
      <div class="col-sm-5">
        <h2 style="font: size 100%;">Onde você acessa antes de Todos!</h2>
      </div>
      <div class="col-sm-3">
        <span id="bemVindo"></span>
        <a id="entrar" href="login">Entrar</a>
        <a class="ml-5" style="cursor:pointer;text-decoration:underline" id="sair">Sair</a>
      </div>
      <div class="container text-right mr-2">
        <a id="cadastro" href="cadastro">Cadastre-se</a>
      </div>
    </div>
  </header>

  <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
  <br />
  <section>
    <div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-8">
          <div class="card col-sm-10 col-lg-10">
               <div class="card-body">
                 
                  <h4 class="card-title">Meu Carrinho</h4>
                  
               <div class="row mb-3">
                 
                 
                   <div class="col-sm-6 col-lg-4">Titulo</div>
                   <div class="col-sm-6 col-lg-2">Qtd</div>
                   <div class="col-sm-6 col-lg-3">Ano</div>
                   <div class="col-sm-6 col-lg-2">Valor</div>
               </div>
               <%
               total=0
               carrinho.forEach((item)=>{
               total += parseFloat(item.valor)
                %>
               <div class="row mb-3">
                  <div class="col-sm-6 col-lg-3"><%=item.titulo%></div>
                  <div class="col-sm-6 col-lg-3"><%=item.qtd%></div>
                  <div class="col-sm-6 col-lg-3"> <%=item.ano%></div>
                  <div class="col-sm-6 col-lg-3">R$<%=item.valor%></div>
                  <button class="btn btn-warning bt-carrinho" data-id="<%=item.carrinho_id%>">Excluir</button>
              </div>
              <%})%>
              </div>
          </div>
      </div>

      <div class="card col-sm-2 col-lg-2">
        <h4>Resumo</h4>
        <div class="text-right mt-5 font-weight-bold"> Total: R$<%=total.toFixed(2)%> </div>
    </div>
    </div>
  </section>
  <section>
    <div id="galeria2" class="text-center">
      <div class="row mx-auto mt-3 mb-3 ">
        <div class="col-sm-4"><img src="../imagens/avengers.jpg" class="imgMenor"> </div>
        <div class="col-sm-4"><img src="../imagens/viuvanegra.jpg" class="imgMenor"> </div>
        <div class="col-sm-4"><img src="../imagens/guerracivil.jpeg" class="imgMenor"> </div>
      </div>
    </div>
    </div>
  </section>
<!-- =============== Fim do Conteúdo ================== -->

<script>
  $().ready(function(){
      console.log("jquery funfando...")
      $('.bt-carrinho').click(function(){ //função do clique
              let dataid = $(this).attr("data-id") //variavel que recebe o dta-id dos livros

            $.post('/delete-carrinho',
            { //função para postar o livro escolhido pelo clique para o carrinho
              id:dataid,
            },
            function (data,status)
            {
                location.href = "/carrinho" //app.get

            },"json")
          })
  })
</script>

<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->
</body>
</html>