<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Contato
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
  <style>
    
    .img {
      
      border-radius: 4px;
      padding: 5px;
      width: 200px;
      height: 495px;
     
    } 
    .body {
      font-weight: bold;
    }
    .p {
      font-size: 50px;
    }
    .alignR{
      text-align: right;
      cursor:pointer;text-decoration:underline
    }
  </style>
<header class="text-center">
  <div class="row">
    <div class="col-sm-4 text-left">
      <a href="index">
        <img src="../imagens/primeirasessão.png" width="250">
        </a>
    </div>
    <div class="col-sm-4 mt-5">
      <h2 style="font:size 100%;"><%=info.titulo%></h2>
    </div>
    <div class="col-sm-4 alignR">
      <% if (info.user) { %>
        <a id="bemVindo" href="perfilDoUsuario"><%='Bem vindo, ' + info.user.substring(0, info.user.indexOf('@')) + '!'%></a>
        <a class="alignR ml-2" id="sair" href="logout">Sair</a>
          <% } else { %>
      <a id="entrar" class="alignR text-right" href="login">Entrar</a>
          <% } %>
    </div>
  </div>
</header>


<%if(info.user) { %>
  <div class="alignR">
   
  </div>
  <% } else { %>
    <div class="alignR">
      <a id="cadastro" href="cadastro">Cadastre-se</a>
    </div>
    <% }  %>
</div>
<%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
<section class="container">
  <form id="formContato" method="post" action="" class="w-50 mx-auto p-4 mt-5 mb-5"
    style="border:1px solid #ccc; border-radius: 12px;">
    <fieldset>
      <legend class="text-center body">
        Preencha o formulário
      </legend>
      <br />
      <div class="form-group">
        <lable>Nome :</br></lable>
        <input class="form-control" name="nomeContato" id="nomeContato" maxlength="50" required>

      </div>
      <div class="form-group">
        <label>Email :</br></label>
        <input class="form-control" name="emailContato" id="emailContato" type="email" required>
      </div>
      <div class="form-group">
        <label>Telefone :</br></label>
        <input class="form-control" name="telefoneContato" id="telefoneContato" maxlength="14" type="text">
      </div>
      <div class="form-group">
        <label>Assunto :</br></label>
        <input class="form-control" name="assuntoContato" id="assuntoContato" maxlength="20" type="text">
      </div>
      <div class="form-group">
        <label>Comentários :</br></label>
        <textarea class="form-control" name="comentarios" id="comentarios" rows="8"></textarea>
      </div>
      <div class="text-center">
        <input type="checkbox" name="habi" id="habi" onClick="HabiDsabi()"> Quero abrir um chamado para este assunto.
        </p>
      </div>
      <div class="text-center">
        <input type="submit" class="btn btn-primary" name="envia" id="envia" value="Confirmar">
      </div>
    </fieldset>
  </form>
  <article class="text-center"></article>
</section>

<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->
</body>
<script src="../js/contato.js"></script>
<!-- =======================API DO WHATSAPP======================================-->
<%- include('whatsapp.ejs')%>
</html>
