<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Index
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
 
<%- include('topo.ejs')%>
    
  <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
  <div class="row">
    <hr />
  </div>
  <div class="container" class="col-sm-8">
    <p class="p" style="font-size: 35px ;font-family: 'Righteous', cursive;">
   FILMES:
    </p>
  </div>
  <div class="container">
 
        <style>
          .img {
            
            border-radius: 4px;
            padding: 5px;
            width: 200px;
            height: 495px;
           
          } 
          .imgMenor {
            
            border-radius: 4px;
            padding: 5px;
            width: 300px;
            height: 400px;
           
          } 
          .body {
            font-weight: bold;
          }
          .p {
            font-size: 50px;
          }
          .alignR{
            text-align: right;
            cursor:pointer;text-decoration:underline
          }
        </style>
        <div class="row">
          <% filmes.forEach((item)=> { %>
            <div class="col-md-4">
              <a id="img" href="/single?id=<%=item.filmes_id%>">
              <div class="row">
                <h4 class="col-sm-12 mt-5 mb-2 body"><%=item.titulo%></h4>
              </div>
              <div class="row">
                <img class="col-sm-12 img" src="../imagens/<%=item.imagens%>">
              </div>
              </a>
    
    
            </div>
            <% }) %>
        </div>
      </div>
  <hr />
  <section>
    <div class="container mx-auto">
      <h3 class="body">Suas preferencias: </h3>
      <br />
      <br />
    </div>

    <div class="container mx-auto row">
      <div id="rodape">
        <%let n=0
         pref.forEach((item) => { 
           
           %>
          <%if(n<3) { %>
        <a id="a" class="container mx-auto mb-3" href="singleproduto">
          
         <img class="imgMenor " src="../imagens/<%=item.imagens%>">
          
        </a>

        <%n++ } })%>
      </div>
    </div>
  </section>

<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>

</body>

<script src="../js/index.js"></script>


</html>