 <!--HEADER-->
 <%- include('header.ejs') %>
 <style>
  .img {
    
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 495px;
   
  } 
  .body {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  
 
  .p {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
  }
  .alignR{
    text-align: right;
    cursor:pointer;text-decoration:underline
  }
 </style>
  <header class="text-center">
    <div class="row">
      <div class="col-sm-4 text-left">
        <img src="../imagens/primeirasessão.png" width="250">
      </div>
      <div class="col-sm-4 mt-5">
        <h2 style="font: size 100%;font-family: 'Righteous', cursive;"><%=titulo%></h2>
      </div>
      <div class="col-sm-4 alignR">
        <span id="bemVindo"></span>
        
         <a id="entrar" class="alignR text-right" href="login"><i class="material-icons" style="font-size:68px;">login</i></a>
        <a class="alignR" id="sair">Sair</a>
      </div>
    </div>
  </header>  
    <div class="alignR">
      <a id="cadastro" href="cadastro">Cadastre-se</a>
    </div> 
  </div>
  <!--NAV-->
  <%- include('nav.ejs') %>
    
  <div class="row">
    <hr />
  </div>
  <div class="container" class="col-sm-8">
    <p class="p">
   FILMES:
    </p>
  </div>
  <div class="container">
 
        
        <div class="row">
          <% filmes.forEach((item)=> { %>
            <div class="col-md-4">
              <a href="/single?id=<%=item.filmes_id%>">
              <div class="row">
                <h4 class="col-sm-12 mt-5 mb-2 body"><%=item.titulo%></h4>
              </div>
              <div class="row">
                <img class="col-sm-12 img" src="../imagens/<%=item.imagens%>">
              </div>
              </a>
    
    
            </div>
            <% }) %>
        </div>
      </div>

  <!-- Setor de rodapé -->
  <hr />
  <section>
    <div class="container mx-auto">
      <h3 class="body">Suas preferencias: </h3>
      <br />
      <br />
    </div>

    <div class="container mx-auto row">
      <div id="rodape">
        <a id="a" href="singleproduto">
          <!-- <img id="imagem0" width="250" src="" /> -->
        </a>

      </div>
    </div>
  </section>
  <%- include('footer.ejs') %>
  
</body>
<script src="../js/index.js"></script>

</html>