<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Index
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
  <header class="text-center">
    <div class="row">
      <div class="col-sm-4 text-left">
        <a href="index">
          <img src="../imagens/primeirasessão.png" width="250">
          </a>
      </div>
      <div class="col-sm-4 mt-5">
        <h2 style="font: size 100%;"><%=info.titulo%></h2>
      </div>
      <div class="col-sm-4 alignR">
        <a id="bemVindo" href="perfilDoUsuario"><%=info.user%></a>
        <% if (info.user) { %>
          <a class="alignR ml-2" id="sair" href="index">Sair</a>
          <% } else { %>
        <a id="entrar" class="alignR text-right" href="login">Entrar</a>
        <% } %>
      </div>
    </div>
   
  </header>

   <%if(info.user) { %>
    <div class="alignR">
     
    </div>
    <% } else { %>
      <div class="alignR">
        <a id="cadastro" href="cadastro"></a>
      </div>
      <% }  %>
    
  
  </div>
  <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
  <div class="row">
    <hr />
  </div>
  <div class="container" class="col-sm-8">
    <p class="p">
   FILMES:
    </p>
  </div>
  <div class="container">
 
        <style>
          .img {
            
            border-radius: 4px;
            padding: 5px;
            width: 200px;
            height: 495px;
           
          } 
          .mt{
            margin-top: 20px;
          }
          .flexS{
            align-items: flex-start;
          }
          .flexEnd{
            align-items: flex-end;
          }
          
          .imgMenor {
            
            border-radius: 4px;
            padding: 5px;
            width: 300px;
            height: 400px;
           
          } 
          .body {
            font-weight: bold;
          }
          .p {
            font-size: 50px;
          }
          .pModal {
            font-size: 20px;
          }
          .alignR{
            text-align: right;
            cursor:pointer;text-decoration:underline
          }
          .modal-content{
            background-color: rgb(21, 46, 99);
          }
        </style>
        <div class="row mt flexS flexEnd">
          <% filmes.forEach((item)=> { %>
            <div class="col-md-4">
              <a data-toggle="modal" data-target="#runModal<%=item.filmes_id %>" href="/single?id=<%=item.filmes_id%>">
              <div class="row">
                <h4 class="col-sm-12 mt-5 mb-2 body"><%=item.titulo%></h4>
              </div>
              <div class="row">
                <img class="col-sm-12 img" src="../imagens/<%=item.imagens%>">
              </div>
              
            


              <!-- Modal -->
              <div class="modal fade" id="runModal<%=item.filmes_id %>" tabindex="-1" role="dialog" aria-labelledby="runModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content animate-zoom">

                    <div class="modal-header">
                      <h5 class="modal-title body text-white" id="runModalLabel"><%=item.titulo%></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body container">
                      <div class="row">
                        <img class="imgMenor " src="../imagens/<%=item.imagens%>" />
                        <div class="col text-white body pModal">
                          
                        Gênero: <%=item.genero%><br />
                        Ano: <%=item.ano%><br />
                        Diretor: <%=item.diretor%><br />
                        Classificação: <%=item.classificacao%>
                          
                        </div>
                      </div>
                      <div class="row">
                       <h1 class="text-white body mt-3 ml-2">R$ <%=item.valor%></h1> 
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <hr />
                         <iframe width="1090" height="550" src="<%=item.trailer%>" id="fml" title="YouTube video player"
                         frameborder="0"
                         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                         allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="buttom" data-id="<%=item.filmes_id%>" data-titulo="<%=item.titulo%>" data-ano="<%=item.ano%>" data-valor="<%=item.valor%>"  class="btn btn-primary bt-produto">Adicionar ao carrinho</button>
                    </div>
                  </div>
                </div>
              </div>
<!-- =========================  modal ========================= -->
              
            </div>
          </a>
            <% }) %>
        </div>
      </div>
  <hr />
  <section>
    <div class="container mx-auto">
      <h3 class="body">Suas preferencias: </h3>
      <br />
      <br />
    </div>

    <div class="container mx-auto row">
      <div id="rodape">
        <%let n=0
         pref.forEach((item) => { 
           
           %>
          <%if(n<3) { %>
        <a id="a" class="container mx-auto mb-3" href="singleproduto">
          
         <img class="imgMenor " src="../imagens/<%=item.imagens%>">
          
        </a>

        <%n++ } })%>
      </div>
    </div>
  </section>

<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>

</body>
<script>
$().ready(function(){
  console.log("jquery funfando...")
  $('.bt-produto').click(function(){
      let dataid = $(this).attr("data-id")
      let dataTitulo = $(this).attr("data-titulo")
      let dataQtd = $(this).attr("input")
      let dataAno = $(this).attr("data-ano")
      let dataValor = $(this).attr ("data-valor")
      $.post ("/carrinho",
      {
        filmes_id:dataid,
        titulo: dataTitulo,
        qtd: dataQtd,
        ano: dataAno,
        valor: dataValor
      },
      function (data,status)
      {
        location.href = "/carrinho"
      },"json")
  })
 
})

</script>
<script src="../js/index.js"></script>


</html>
