<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Perfil do Usuario
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
      <style>
        .img {
          
          border-radius: 4px;
          padding: 5px;
          width: 200px;
          height: 495px;
         
        } 
        .body {
          font-weight: bold;
        }
        .p {
          font-size: 50px;
        }
        .pMenor {
          font-size: 20px;
        }
        .alignR{
          text-align: right;
          cursor:pointer;text-decoration:underline
        }
        * {
    margin: 0;
    padding: 0
}

body {
    background-color: #000
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}
      </style>

<header class="text-center">
  <div class="row">
    <div class="col-sm-4 text-left">
      <a href="index">
        <img src="../imagens/primeirasessão.png" width="250">
        </a>
    </div>
    <div class="col-sm-4 mt-5">
      <h2 style="font: size 100%;"><%=info.titulo%></h2>
    </div>
    <div class="col-sm-4 alignR">
      <% if (info.user) { %>
        <a id="bemVindo" href="perfilDoUsuario"><%='Bem vindo, ' + info.user.substring(0, info.user.indexOf('@')) + '!'%></a>
        <a class="alignR ml-2" id="sair" href="logout">Sair</a>
          <% } else { %>
      <a id="entrar" class="alignR text-right " href="login">Entrar</a>
          <% } %>
    </div>
  </div>
</header>

<%if(info.user) { %>
  <div class="alignR">
   
  </div>
  <% } else { %>
    <div class="alignR">
      <a id="cadastro" href="cadastro">Cadastre-se</a>
    </div>
    <% }  %>
  </div>
  <div class="alert alert-primary text-center">
    <div class="spinner-grow text-primary"></div> <div class="spinner-grow text-primary"></div><div id="nomeA"></div><h2 id="cupom">  Já usou seu descontou hoje?</h2><hr />
   <a href="cupom" ><button type="button" class="btn btn-primary" ">Vamos descobrir</button></a>

    
  </div>
            
        <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
        <section>
        
        <hr/>
        
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
          <div class="card p-4">
      <p id="demo" class="text-center" ></p>
      <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="../imagens/img_avatar.png" height="100" width="100" /></button> 
          <div id="conteudo">

            <%if(info.user){%>
              <article class="container text-primary text-center">
                <div id="conteudo">
                  
                  <p class="body" id="nomeUsu">Nome : <%=user[0].nome%></p>
                  <p class="body" id="emailUsu">Email : <%=info.user%></p>
                  <p class="body" id="telUsu">Telefone : <%=user[0].telefone%></p>
                  <p class="body" id="dataUso">Data de Inicio : <%=user[0].data_inicio%> </p>
                  <p class="body" id="preferenciaUsu">Preferencia :<%=user[0].preferencia%> </p>
                
                </div>
                <div>
                  <button data-id="<%=info.user%>" class="btn btn-primary bt-edit">Editar</button>
                </div>
              </article>
              <%}%>
            </div>
        </article>
        </section>
<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->
    </body>
    <script >var today=new Date()
      var date = today.getDate()+'-'+(today.getMonth()+1)+'-'+today.getFullYear();
        document.getElementById("demo").innerHTML="Hoje :"+date
        
    document.querySelector('button').onclick=function(){
      document.querySelector('#cupom').innerHTML="20j4"
    }
    $().ready(function(){
  
  $('.bt-edit').click(function (){
  
  let dataid = $(this).attr('data-id')
   
          $.post("./atualiza_usuario",
          {
              email:dataid,
          },
          function(data,status)
          {
            location.href='./atualiza_usuario'
          })
      })
  })</script>
</html>
