<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Promocao
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
  <style>
    .img {

      border-radius: 4px;
      padding: 5px;
      width: 200px;
      height: 495px;

    }

    .imgMenor {

      border-radius: 4px;
      padding: 5px;
      width: 190px;
      height: 275px;

    }

    .body {
      font-weight: bold;
    }

    .p {
      font-size: 50px;
    }

    .alignR {
      text-align: right;
      cursor: pointer;
      text-decoration: underline
    }
  </style>

<header class="text-center">
  <div class="row">
    <div class="col-sm-4 text-left">
      <img src="../imagens/primeirasessão.png" width="250">
    </div>
    <div class="col-sm-4 mt-5">
      <h2 style="font: size 100%;"><%=info.titulo%></h2>
    </div>
    <div class="col-sm-4 alignR">
      <a id="bemVindo" href="perfilDoUsuario"><%=info.user%></a>
      <% if (info.user) { %>
        <a class="alignR" id="sair" href="index">Sair</a>
        <% } else { %>
      <a id="entrar" class="alignR text-right" href="login">Entrar</a>
          <% } %>
    </div>
  </div>
</header>


<%if(info.user) { %>
  <div class="alignR">
   
  </div>
  <% } else { %>
    <div class="alignR">
      <a id="cadastro" href="cadastro"></a>
    </div>
    <% }  %>

</div>

  <div class="alignR">
    <a id="cadastro" href="cadastro">Cadastre-se</a>
  </div>

  </div>
  </header>
  <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
  <article class="container mt-5">

    <div class="row">
      <% galeria.forEach((item)=> { %>
        <div class="col-md-4">

          <div class="row">
            <img class="col-sm-6 imgMenor" src="../imagens/<%=item.imagens%>">
            <div class="col-sm-6">
              <h4>
                <%=item.titulo%>
              </h4>
              <p>Gênero: <%=item.genero%>
              </p>
              <p>Ano: <%=item.ano%>
              </p>
              <p>Indicação: <%=item.classificacao%>
              </p>
              <p>
                <%=item.sinopse%>
              </p>
            </div>
          </div>


        </div>
        <% }) %>
    </div>
  </article>
<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->

</body>
<script src="../js/promocao.js"></script>

</html>
