<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Promocao
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
  <style>
    .img {

      border-radius: 4px;
      padding: 5px;
      width: 200px;
      height: 495px;

    }

    .imgMenor {

      border-radius: 4px;
      padding: 5px;
      width: 190px;
      height: 275px;

    }

    .body {
      font-weight: bold;
    }

    .p {
      font-size: 50px;
    }

    .alignR {
      text-align: right;
      cursor: pointer;
      text-decoration: underline
    }
  </style>

  <header class="">

    <div class="row">
      <div class="col-sm-4 text-left">
        <a target="" href="index">
          <img src="../imagens/primeirasessão.png" width="250">
        </a>
      </div>
      <div class="col-sm-4 mt-5">
        <h2 class="p">Promoções</h2>
      </div>
      <div class="col-sm-4 alignR">
        <span id="bemVindo"></span>
        <a id="entrar" class="alignR text-right" href="login">Entrar</a>
        <a class="alignR" id="sair">Sair</a>
      </div>
    </div>
  </header>


  <div class="alignR">
    <a id="cadastro" href="cadastro">Cadastre-se</a>
  </div>

  </div>
  </header>
  <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
  <article class="container mt-5">

    <div class="row">
      <% promo.forEach((item)=> { %>
        <div class="col-md-4">

          <div class="row">
            <img class="col-sm-6 imgMenor" src="../imagens/<%=item.imagens%>">
            <div class="col-sm-6">
              <h4>
                <%=item.titulo%>
              </h4>
              <p>Gênero: <%=item.genero%>
              </p>
              <p>Ano: <%=item.ano%>
              </p>
              <p>Indicação: <%=item.classificacao%>
              </p>
              <p>
                <%=item.sinopse%>
              </p>
            </div>
          </div>


        </div>
        <% }) %>
    </div>
  </article>
<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->

</body>
<script src="../js/promocao.js"></script>

</html>