<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Promocao
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
  <style>
    .img {

      border-radius: 4px;
      padding: 5px;
      width: 200px;
      height: 495px;

    }

    .imgMenor {

      border-radius: 4px;
      padding: 5px;
      width: 190px;
      height: 275px;

    }

    .body {
      font-weight: bold;
    }

    .p {
      font-size: 50px;
    }

    .alignR {
      text-align: right;
      cursor: pointer;
      text-decoration: underline
    }
  </style>

<%- include('topo.ejs')%>


 
  <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
  <article class="container mt-5">

    <div class="row">
      <% promo.forEach((item)=> { %>
        <div class="col-md-4">

          <div class="row">
            <img class="col-sm-6 imgMenor" src="../imagens/<%=item.imagens%>">
            <div class="col-sm-6">
              <h4>
                <%=item.titulo%>
              </h4>
              <p>Gênero: <%=item.genero%>
              </p>
              <p>Ano: <%=item.ano%>
              </p>
              <p>Indicação: <%=item.classificacao%>
              </p>
              <p>
                <%=item.sinopse%>
              </p>
            </div>
          </div>


        </div>
        <% }) %>
    </div>
  </article>
<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->

</body>
<script src="../js/promocao.js"></script>

</html>