<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Single Produto
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
<header class="text-center">
  <div class="row">
    <div class="col-sm-4 text-left">
      <img src="../imagens/primeirasessão.png" width="250">
    </div>
    <div class="col-sm-4 mt-5">
      <h2 style="font: size 100%;"><%=titulo%></h2>
    </div>
    <div class="col-sm-4 alignR">
      <a id="bemVindo" href="perfilDoUsuario"><%=info.user%></a>
      <% if (info.user) { %>
        <a class="alignR" id="sair" href="index">Sair</a>
        <% } else { %>
      <a id="entrar" class="alignR text-right" href="login">Entrar</a>
          <% } %>
    </div>
  </div>
</header>


  <div class="alignR">
    <a id="cadastro" href="cadastro">Cadastre-se</a>
  </div>

</div>
    <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
    <div class="row">
      <hr />
    </div>
    <div class="container" class="col-sm-8">
     
      <h2 class="p mr-5"><%=galeria[0].titulo%></h2>
      
    </div>
  </header>

  <style>
    .img {
      
      border-radius: 4px;
      padding: 5px;
      width: 350px;
      height: 495px;
     
    } 
    .body {
      font-weight: bold;
    }
    .p {
      font-size: 50px;
    }
    .pMenor {
      font-size: 25px;
    }
    .alignR{
      text-align: right;
      cursor:pointer;text-decoration:underline
    }
    .iframeCenter{
      align-content: center;
    }
    
  </style>

  <section class="container">
    <hr>


    <div id="singleProduto" class="mt-5 mb-5">
      <div class="row">
      <div class="col-sm-12">
        <h2 class="pMenor body">Trailer:</h2>
        <iframe width="1000" height="550" src="<%=galeria[0].trailer%>"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

      </div>
    </div>
      <div class="row">
        <div class="col-sm-7 mt-5">

          <p class="col-sm-10 "><p class="pMenor body"><%=galeria[0].titulo%></p> <p class="text-white"><%=galeria[0].sinopse%></p> (<%=galeria[0].ano%>)</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Adicionar ao carrinho</button> 
          <!---Sessão do modal-->
          <div class="modal " id="myModal">
            <div class="modal-dialog">
              <div class="modal-content bg-primary">
                <!-- Modal Header -->
               <div class="modal-header">
                <h4 class="modal-title"></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
           <!-- Modal body -->
              <div class="modal-body text-white" >
              <p name="titulo" id="titulo"> Filme: <%=galeria[0].titulo%></p>
              <p name="ano" id="ano"> Ano: <%=galeria[0].ano%></p>
             <p name="" id="">  Gênero: <%=galeria[0].genero%></p>
              <p><%=galeria[0].valor%></p>
              <p>
                Telas: <input name="qtdTelas" id="qtdTelas" type="number" maxlength="5">
              </p>
                 </div>
             <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="buttom" data-id="<%=galeria[0].filmes_id%>" data-titulo="<%=galeria[0].titulo%>" data-ano="<%=galeria[0].ano%>" data-valor="<%=galeria[0].valor%>"  class="btn btn-primary bt-produto">Adicionar ao carrinho</button>
          </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">


          <div class="col-sm-6">
            <img class="img" src="../imagens/<%=galeria[0].imagens%>" />
          </div>

          
        </div>



      </div>

    </div>
    </div>


    <article>
      <div class="row mt-5 mb-5">
        <div class="col-sm-4 text-center">
          <img src="../imagens/estranho.jpg" width="200">
        </div>
        <div class="col-sm-4 text-center">
          <img src="../imagens/capitao.jpeg" width="200">
        </div>
        <div class="col-sm-4 text-center">
          <img src="../imagens/logan.jpg" width="200">
        </div>
      </div>
    </article>

  </section>
<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
  <!-- =============== Fim FOOTER ================== -->

  <script>

    $().ready(function(){
      console.log("jquery funfando...")
      $('.bt-produto').click(function(){
          let dataid = $(this).attr("data-id")
          let dataTitulo = $(this).attr("data-titulo")
          let dataQtd = $(this).attr("input")
          let dataAno = $(this).attr("data-ano")
          let dataValor = $(this).attr ("data-valor")
          $.post ("/carrinho",
          {
            filmes_id:dataid,
            titulo: dataTitulo,
            qtd: dataQtd,
            ano: dataAno,
            valor: dataValor
          },
          function (data,status)
          {
            location.href = "/carrinho"
          },"json")
      })
     
    })


//IDENTIFICAÇÃO DO USUÁRIO 
let user = localStorage.emailUser
let bemVindo = document.querySelector("#bemVindo")
let entrar = document.querySelector("#entrar")
let sair = document.querySelector("#sair")
let cadastro = document.querySelector("#cadastro")

//SAUDAÇÃO
function msgUser() {
    let nomeUser = user.substring(0, user.indexOf('@'))
    bemVindo.innerHTML = 'Olá <b>' + nomeUser + '<b/>'
    entrar.style.display = "none"
    cadastro.style.display = "none"
}

//ESCONDE O BOTÃO ENTRAR
function resetUser() {
    sair.style.display = "none"
}
sair.onclick = function () {
    localStorage.removeItem("emailUser")
    location.href = 'index'
}
localStorage.emailUser ? msgUser() : resetUser()

  </script>
</body>


</html>
